/*
	tswnavbar.css	2.0.0
	Please use the Navigation Menu Wizard at
		https://www.thesitewizard.com/wizards/css-menu-buttons.shtml
	to generate your own customized menu buttons.
*/

#tswcssbuttons {
	width: 180px ;
	max-width: 100% ;
	text-align: center ;
}
#tswcssbuttons ul {
	margin: 0 ;
	padding: 0 ;
	list-style: none ;
}
div#tswcssbuttons li{
	margin: 0 0 20px;
	display: block ;
	list-style: none ;
	font-family: Arial, Helvetica, sans-serif ;
}
div#tswcssbuttons li a{
	padding: 8px 0;
	color:#000;
	background-color: aquamarine;
	border:1px outset #000;
	border-radius: 8px;
	text-decoration: none ;
	display: block ;
}
#tswcssbuttons li a:hover {
	color: #000000 ;
	background-color: #c0c0c0 ;
}
