body {
    font-family: Arial, Helvetica, sans-serif;
}
html{
    background-color: black;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color:lightgreen;
    z-index: 10000;
    width: 50%;
}

.cell-holder {
    display: grid;
    background-color: lightgray;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 50%;
    aspect-ratio: 1/1;
    gap: 8px;
}
.cell.blank{
    background-image: repeating-radial-gradient(circle at 17% 32%, white, black 0.0001%);
    background-blend-mode: difference;
    animation: a 0.1s linear infinite;
}
.cell.animated{
    animation: b 2s infinite linear;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    font-size: larger;
    overflow-wrap: anywhere;
}

.cell.selected {
    border: green groove 5px;
    background-color: white;
    background: blue;
}
@keyframes a{
    0% {background-position: 10%,2%};
    100% {translate: (-1%,9%)};
}
@keyframes b{
    30% {background-color: lightgray};
    100% {background-color: white};
}

.no-margin {
    margin: 0 0;
}